.App {
  text-align: center;
  min-height: 100vh;
  background-color: #142346;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0d1629;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TasksContainer {
  color: white;
}

.Task {
  background-color: #101b35;
}

.DeleteTask {
  color: red;
}

.riskText {
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
