.App {
  text-align: center;
  min-height: 100vh;
  background-color: #142346;
}

.addTaskInputContainer {
  display: flex;
  margin: auto;
  width: 736px;
  margin-top: -20px;
  height: 40px;
}

.addTaskInputContainer form {
  display: flex;
  padding: 0px;
}

.addTaskInput {
  width: 638px;
  background-color: #262626;
  color: #808080;
  border: none;
}

.addTaskButton {
  background-color: #1e6f9f;
  margin-left: 5px;
  width: 90px;
  color: white;
  justify-content: center;
  border: none;
  border-radius: 10%;
}

.addTaskButton img {
  width: 16px;
  margin-left: 5px;
}

.TasksContainer {
  color: white;
}

.Task {
  background-color: #101b35;
}

.DeleteTask {
  color: red;
}

.riskText {
  text-decoration: line-through;
}
