.App {
  text-align: center;
  min-height: 100vh;
  background-color: #142346;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.TasksContainer {
  color: white;
}

.Task {
  background-color: #101b35;
}

.DeleteTask {
  color: red;
}

.riskText {
  text-decoration: line-through;
}


