.App {
  text-align: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  flex-direction: column;
  overflow-y: scroll;
  
}

.App::-webkit-scrollbar {
  display: none;
}

.createTaskContainer {
  margin: auto;
  width: 736px;
  margin-top: -20px;
  height: 40px;
  text-align: center;
 
}

.createTaskContainer form {
  display: flex;
  padding: 0px;
}

.addTaskInput {
  width: 90%;
  height: 32px;
  background-color: #262626;
  color: #808080;
  border: none;
}

.addTaskButton {
  background-color: #1e6f9f;
  margin-left: 5px;
  width: 10%;
  color: white;
  justify-content: center;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.addTaskButton img {
  width: 16px;
  margin-left: 5px;
}

.TasksContainer {
  margin: auto;
  width: 736px;
  height: 451px;
  color: white;
  margin-top: 45px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101b35;
  height: 48px;
  margin: 10px;
  padding: 0px 50px 0px;
}

.emptyContainer {
padding-top: 32px;
color: #808080
}

.counterContainer {
  display: flex;
  justify-content: space-between;
  height: 19px;
  margin-bottom: 25px;
}

.taskCount {
  color: #4ea8de;
  font-weight: bold;
}

.countBadge {
  color: white;
}

.DeleteTask {
  color: red;
}

.riskText {
  text-decoration: line-through;
}
