.App-header {
    background-color: #0D0D0D;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    align-items: center;
    justify-content: center;
    height: 200px;
    
  }

  .logo {
    width: 126px;
    height: 48px;
    float: right;
  }